{% extends 'base.html' %}

{% block title %}{{name}}{% endblock %}

{% block content %}

  <!-- cpu and mem panels -->
  {% for item in items %}
  <div class="row"> 
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">{{ item }}</h3>
        </div>
        <div class="panel-body">
          <div id="chart_{{item|lower}}"></div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  <!-- network panel -->
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Network</h3>
        </div>
        <div class="panel-body">
          <div id="chart_net_throughtput"></div>
          <div id="chart_net_errors"></div>
        </div>
      </div>
    </div>
  </div>
{% if data.error %}
    TODO: Unable to connect to database. 
{% endif %}
{% endblock %}


{% block js %}

  {% if data.error %}

  {% else %}
    <script type="text/javascript">
        var temporal_axis =  ['x'].concat({{data.time|safe}});

        // CPU chart
        var chart_cpu = c3.generate({
                    bindto: '#chart_cpu',
                    data: {
                        x: 'x',
                        xFormat: '%Y-%m-%d %H:%M',
                        columns: [
                            temporal_axis,
                            ['cpu'].concat({{data.cpu.usage|safe}})
                        ],
                        types: {
                            cpu: 'area-spline'
                        }
                    },
                    point: {
                        show: false
                    },
	            axis: {
	                x: {
	                    type: 'timeseries',
	                    tick: {
	                        fit: true,
	                        format: '%H:%M'
	                    }
	                },
                        y: {
                           // max: 100,
                           // min: 0,
                            padding: { top: 0, bottom: 0 },
                            label: {
                                text: 'CPU Usage (%)',
                                position: 'outer-center'
                            }
                        }
	            }
	    });

        // Memory
        var chart_mem = c3.generate({
                    bindto: '#chart_memory',
                    data: {
                        x: 'x',
                        xFormat: '%Y-%m-%d %H:%M',
                        columns: [
                            temporal_axis,
                            ['mem'].concat({{data.mem.usage|safe}}),
                            ['limit'].concat({{data.mem.limit|safe}})
                        ],
                        types: {
                            mem: 'area-spline'
                        }
                    },
                    point: {
                        show: false
                    },
	            axis: {
	                x: {
	                    type: 'timeseries',
	                    tick: {
	                        fit: true,
	                        format: '%H:%M'
	                    }
	                },
                        y: {
                            label: {
                                text: 'Memory usage (MB)',
                                position: 'outer-center'
                            }
                        }
	            }
	    });

        // Network
        var chart_net_throughtput = c3.generate({
                    bindto: '#chart_net_throughtput',
                    data: {
                        x: 'x',
                        xFormat: '%Y-%m-%d %H:%M',
                        columns: [
                            temporal_axis,
                            ['Tx'].concat({{data.net.tx|safe}}),
                            ['Rx'].concat({{data.net.rx|safe}})
                        ],
                        types: {
                            Tx: 'spline',
                            Rx: 'spline'
                        },
                        colors: {
                            Rx: '#ff0000'
                        }
                    },
                    point: {
                        show: false
                    },
                    axis: {
                        x: {
                            type: 'timeseries',
                            tick: {
                                fit: true,
                                format: '%H:%M'
                            }
                        },
                        y: {
                            label: {
                                text: 'Bytes per second',
                                position: 'outer-center'
                            }
                        }
                    }
        });

        var chart_net_errors = c3.generate({
                    bindto: '#chart_net_errors',
                    data: {
                        x: 'x',
                        xFormat: '%Y-%m-%d %H:%M',
                        columns: [
                            temporal_axis,
                            ['Tx'].concat({{data.net.tx_err|safe}}),
                            ['Rx'].concat({{data.net.rx_err|safe}})
                        ],
                        types: {
                            Tx: 'spline',
                            Rx: 'spline'
                        },
                        colors: {
                            Rx: '#ff0000'
                        }
                    },
                    point : {
                        show: false
                    },
                    axis: {
                        x: {
                            type: 'timeseries',
                            tick: {
                                fit: true,
                                format: '%H:%M'
                            }
                        },
                        y: {
                            max: 1,
                            min: -1,
                            padding: { top: 0, bottom: 0 },
                            tick: {
                                count: 5
                            },
                            label: {
                                text: 'Errors per second',
                                position: 'outer-center'
                            }
                        }
                    }
        });
    </script>
  {% endif %}
{% endblock %}
