{% extends "base.html" %}

{% block title %}Overview{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <table class="table">
          <thead>
            <tr>
              <th>Container</th>
              <th>Image</th>
              <th>CPU %</th>
              <th>Memory</th>
            </tr>
          </thead>
          <tbody>
          {% if not error %}
              {% if containers %}
                {% for c in containers %}
                <tr onclick="navTo('/container/{{c.Id[:12]}}')">
                  <th>{{c.Names[0]}}</th>
                  <th>{{c.Image}}</th>
                  <th></th>
                  <th></th>
                </tr>
                {% endfor %}
              {% else %}
                <tr>
                  <th>There are not running containers.</th>
                </tr>
              {% endif %}
          {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  {% if error %}
  <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-8">
          <div class="alert alert-danger" role="alert">
              <p>{{error}}</p>
              <p>[{{status_msg}}}]</p>
          </div>
      </div>
  </div>
  {% endif %}

{% endblock %}


{% block js %}
  <script type="text/javascript">
    function navTo(url) {
        document.location.href = url;
    }
  </script>
{% endblock %}
